header {
    background-color: greenyellow;
}

/* 영화 검색하는 공간 */
#search {
    background-color: yellow;
}

/* 전체 영화 정보 공간 */
#movie {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    justify-content: center;
    border-color: black;
    border-width: 10px;
}

/* 영화 카드 공간 */
#card {
    background-color: skyblue;
    margin: 10%;
    border-radius: 1ch;
}

/* 영화 제목 공간 */
#title {
    background-color: violet;
}

/* 포스터 이미지 공간 */
#poster {
    width: 100%;
    height: auto;
}


/* 영화 개요 공간 */
#overview {
    background-color: aqua;
}

