header {
    background-color: greenyellow;
    margin: auto auto auto auto;
    width: max-content;
    height: max-content;
}

#search {
    background-color: yellow;
}

.movies {
    background-color: red;
}

#card {
    background-color: burlywood;
}