header {
    background-color: greenyellow;
}

body {
    min-height: 100vh;
}

#search {
    background-color: yellow;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.movies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

#card {
    background-color: burlywood;
}